<main class="flex-1 bg-white">
  <app-hero></app-hero>

  <div class="space-y-12 pb-32 bg-white">
    <!-- Product Sections -->
    <app-new-arrivals></app-new-arrivals>
    <app-featured-products></app-featured-products>

    <!-- Category Sections -->
    <!-- Category Sections -->
    <ng-container *ngIf="categories$ | async as categories">
      <app-category-section
        *ngIf="getCategory(categories, 'men').length"
        title="Menswear"
        viewAllLink="/shop/men"
        [categories]="getCategory(categories, 'men')"
      >
      </app-category-section>

      <app-category-section
        *ngIf="getCategory(categories, 'women').length"
        title="Womenswear"
        viewAllLink="/shop/women"
        [categories]="getCategory(categories, 'women')"
      >
      </app-category-section>

      <app-category-section
        *ngIf="getCategory(categories, 'kids').length"
        title="Kidswear"
        viewAllLink="/shop/kids"
        [categories]="getCategory(categories, 'kids')"
      >
      </app-category-section>

      <app-category-section
        *ngIf="getCategory(categories, 'accessories').length"
        title="Accessories"
        viewAllLink="/shop/accessories"
        [categories]="getCategory(categories, 'accessories')"
      >
      </app-category-section>
    </ng-container>

    <app-promo-banner></app-promo-banner>

    <app-why-choose-us></app-why-choose-us>
    <app-testimonials></app-testimonials>
    <app-newsletter></app-newsletter>
  </div>
</main>
